body {
  text-align: justify;
  font-family: 'Tahoma', sans-serif; 
  background: #39A09E;
  background: -webkit-linear-gradient(to top, #4a577a, #677697, #8390b0, #93b1cb, #8bacc8, #c1e2e9); 
  background: linear-gradient(to top, #4a577a, #677697, #8390b0, #93b1cb, #8bacc8, #c1e2e9);
  width: 95%; 
  display: block; 
  margin: 0 auto;
}

p {
  color: white;
}

.tableTemplate {
  background-image: url(https://i.imgur.com/R600bTZ.png);
  border: 1px solid transparent; color: #FFFFFF;
}

.tdTemplate {
  background: transparent; 
  border: 1px solid transparent; 
  color: #FFFFFF;
}

.transparent {
  background: transparent; border: 0px solid transparent; padding: 0px;
}
